* {
    box-sizing: border-box;
  }

html {
  background-color: #000;
}

header {
  background-color: #233771;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  
}

.nav-item {
  color: #ffffff;
}

.nav-item a {
  color: #ffffff; 
  text-decoration: none;
}

.nav li {
  list-style: none; 
}

.container {
    background-color: #ffffff;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

body {
	font-size: 14px;
  font-family: "Futura", "Arial", sans-serif; 
  background-color: #000;
  min-height: 100vh;
  margin: 0; padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
	line-height: 1px;
	color: #64bde3;
}

h2 {
  font-size: 15px;
  line-height: 1px;
}

h4 {
	line-height: 20px;
	color: #64bde3;
}

p {
	margin: 5px 20px;
	line-height: 12px;
}

table {
	width: 90%; 
  border-collapse: collapse;
}

table td {
    padding: 5px 12px;
}

table thead tr {
  text-align: center;
	border-top: 1px solid #e8e9eb;
	font-weight: bold; 
}

table tr {
    border-bottom: 1px solid #e8e9eb;
}

.resume {
  background: #fbfdfd;
	width: 800px;
	height: auto;
	display: flex;
  flex-direction: row;
}

.resume 
.left_section {
  background: #233771;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resume 
.left_section .left_content {
  color: #ced1d6; 
	padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resume 
.left_section 
.left_content 
.left_description {
	margin: 55px 1px 1px 1px;
}

.resume 
.left_section 
.avatar {
	width: 100%;
}

.resume 
.main_section {  
  width: auto;
	padding: 5px;
	color: #4a4c4f;
}

.university{
	line-height: 15px;
	margin: 10px 20px;
	font-weight: bold;
}

.billet {
   	text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #64bde3;
    border: 2px solid #b0c8ff;
    margin: 25px 25px 10px 0;
    padding: 5px 20px;
	background: #233771;
}

.project-link {
  color: #ffffff;
}


footer { 
  background-color: #233771;
  border: solid #ffffff;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-items{
   color: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 25%
}

.footer-item {
  color: #ffffff;
}

footer li {
  list-style: none; 
}

.logo { 
 width: 10%;
 margin: 5px 15px;

}

